<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <form action="/events/<%=event._id%>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <h2> <%=event.eventName%>
      <input type="text" name="name" value="<%=event.eventName%>">
      <input type="submit" value="Edit"> </h2>
      <p>Creator: <%=event.creator%></p>
      <p>Date: <%=event.creationDate%></p>
      <p>Members: <%=event.members%></p>
      <%event.photos.forEach((photo)=> {%>
        <a href="/events/<%=event._id%>">
        <img src="Images/<%=event._id%>/<%=photo%>" height="160px" width="120px">
      <%})%>
    </form>
    <form action="/events/<%=event._id%>" method="POST" encType="multipart/form-data">
      <input name="sampleFile" type="file"/>
      <input type="submit" value="Upload Photo">
    </form>
    <p> <a href="/events"><b>Back to event List</b></a>  ||
    <a href="/"><b>Back to Home</b></a></p>
  </body>
</html>
